.cabecalho {
    display:flex;
    align-items: center;
    background-color: #100F0F;
    position: fixed;
    width: 100%;
    height: 95px;
    justify-content: end;
}

.riot__logo {
    max-width:170px;
    max-height:200px;
}

.riot__logo-pequeuno {
    margin-right: 50px ;
}



.cabecalho__direcionamento-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: var(--fonte-nav);
    padding: 8px 15px 8px 15px;
    font-size: 12.5px;
    letter-spacing: 2px;
    font-weight: 500;
}

.cabecalho__login{
    display: flex;
    align-items: center;
    margin-right: 3em;
    margin-left: 45em;
}



.cabecalho__login-search{
    margin: 2em;
    background: #1f1f1f;
    border: 0 ;
    border-radius: 30px;
    padding: 10px;
    margin: 0;
}

.cabecalho__login-search::placeholder{
    font-family: var(--fonte-nav);
    padding-left: 1.2em;
}

.cabecalho__login-entrar{
    text-decoration: none;
    color: black;
    font-family: var(--fonte-nav);
    background-color: #B33030;
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 130px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500 ;
}

.cabecalho__direcionamento-link:hover {
    background-color: #321E1E;
    border: none;
    border-radius: 10px;
    height: 5px;
}

.buscar {
    display: flex;
    align-items: center;
    margin: 0.7em;
    margin-left: 2em;
}







